<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LogAnalyzer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <LogAnalyzer.Properties.Settings>
            <setting name="PerfCountersEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FileSystemPollInterval" serializeAs="String">
                <value>00:00:01</value>
            </setting>
            <setting name="FileSystemNotificationsDelayInterval" serializeAs="String">
                <value>00:00:00.5000000</value>
            </setting>
            <setting name="ConstIntervalTimeServiceDefaultDelay" serializeAs="String">
                <value>00:00:40</value>
            </setting>
        </LogAnalyzer.Properties.Settings>
    </applicationSettings>
</configuration>